
.card {
  width: 320px;
  height: 450px;
  border-radius: 10px;
  perspective: 1200px; 
  position: relative;
  background-color: transparent;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face.front #inside {
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #d1d1d1;

}
.card-face.front {
  z-index: 2;
}

.card-face.back {
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(360deg);
}

#inside {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}


header {
    display: flex;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: space-between;
}

header .left,
header .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

#art {
    margin: 0;
    padding: 5px 5px 0 5px;
    background-color: lightgrey;
    border-radius: 4px;
}

.paysage {
    height: 225px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.pokemon {
    height: 150px;
    width: auto;
    position: absolute;
    left: 30%;
    top: 20%;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
    color: black;
}

#capacites {
    display: flex;
    flex-direction: column;

    height: 100px;
}

.capacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0;
}

.capacity .main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.capacity .name {
    flex-grow: 1;
}

.capacity .cost {
    display: flex;
    align-items: center;
    gap: 5px;
}

.description {
    font-size: 12px;
    margin: 8px;

}

.water {
    background-color: #72afff;
}

.electricite {
    background-color: #ffeb66;
}

.fire {
    background-color: #ff9c54;
}

.plante {
    background-color: #8cd674;
}

.fee {
    background-color: #ff71ecd0;
}

.psy {
    background-color: #ab62ffd8;
}

.normal {
    background-color: #e9e9e9;
}

.dragon {
    background-color: #ddae12;
}

.combat {
    background-color: #d16500ce;
}

.metal {
    background-color: #cccccc;
}

.obscure {
    background-color: #000000d5;
    color: white;
}