.nav{
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    background-color: rgb(253, 237, 237);
    margin: 0;
    padding: 12px;
}

.up{
    position: fixed;
    bottom: 30px;
    right: 30px;

}

.card-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.btn {
    border: 1px solid black;
    background-color: #ffffff05;
    border-radius: 20px;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.sort-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

