<div class="nav">
    <button (click)="navigateTable()" class="btn">Tableau des pokemon</button>
<app-search-bar class="search" (searchButtonClicked)="incrementCount()" [(search)]="search"></app-search-bar>

<button (click)="openAddModal()" class="btn">Créer un pokemon</button>

<app-form *ngIf="showAddModal" (create)="onCreated($event)" (cancel)="showAddModal=false"></app-form>

<button (click)="toggleSortOrder()" class="btn">
    Trier par numéro {{ isAscending ? '⬆' : '⬇' }}
</button>

    {{ (pokemons | filterItems:search).length==0 ? "Pas de pokemon " : "Nombre de pokemon : " + (pokemons |
filterItems:search)?.length }}

</div>


<div class="card-container" href="#">
    @if(isLoading){
        <p>Chargement ...</p>
    }@else {

        
        @if((pokemons | filterItems:search).length==0) {
            <p>Aucun Pokémon trouvé</p>
        }
        @else {
            
            <app-playing-card *ngFor="let p of pokemons | filterItems:search" [pokemon]="p" (click)="navigate(p)"></app-playing-card>
        }
        
    }

</div>
<a href="#" class="up">en haut</a>