/* You can add global styles to this file, and also import other style files */
html{
    font-family: sans-serif;
    min-height: 100%;
    background: linear-gradient(500deg, rgb(253, 237, 237), rgb(219, 212, 212));
    
}

body{
    margin: 0;
}
