table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 50%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}


.energie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  gap: 4px;
}

.btn {
  border: 1px solid black;
  background-color: #ffffff05;
  border-radius: 20px;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.water {
  background-color: #72afff50;
}

.electricite {
  background-color: #ffeb6650;
}

.fire {
  background-color: #ff9c5450;
}

.plante {
  background-color: #8cd67450;
}

.fee {
  background-color: #ff71ec50;
}

.psy {
  background-color: #ab62ff50;
}

.normal {
  background-color: #e9e9e950;
}

.dragon {
  background-color: #ddae1250;
}

.combat {
  background-color: #d1650050;
}

.metal {
  background-color: #cccccc50;
}

.obscure {
  background-color: #00000050;
  color: white;
}