<h1>Liste des pokemon</h1>
<app-search-bar class="search" [(search)]="search"></app-search-bar>

<button (click)="back()" class="btn">Retour</button>
<div>

    <table>
        <caption>Liste des Pokemon sous forme d'un tableau</caption>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Pv</th>
                <th>Énergie</th>
                <th>Énergie secondaire</th>
            </tr>
        </thead>
        @for (p of pokemons | filterItems:search; track $index) {
        <!-- <tbody *ngFor="let p of pokemons | filterItems:search"> -->
            <tr class=" {{p.energyType}}">
                <td> {{p.figureCaption}} </td>
                <td>{{p.name}}</td>
                <td><img src="https://raw.githubusercontent.com/HybridShivam/Pokemon/refs/heads/master/assets/images/{{p.id.toString().padStart(3, '0')}}.png"
                        alt="" style="width: 48px;"></td>
                <td> {{p.hp}}</td>
                <td>
                    <div class="energie {{p.energyType}}">

                        <img src="energy/{{p.energyType}}.png" alt="" style="width:24px ; height: 24px;">
                        <p class="energie-name">{{p.energyType}}</p>
                    </div>
                </td>
                <td>
                    <div class="energie {{p.energySecond}}">

                        <img src="energy/{{p.energySecond}}.png" alt="" style="width:24px ; height: 24px;">
                        <p class="energie-name">{{p.energySecond}}</p>
                    </div>
                </td>
            </tr>
            }
        <!-- </tbody> -->
    </table>


</div>